body {
  /* Typography Declarations*/
  color: #222222;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  background-image: url("http://i.imgur.com/PYoHFEU.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.masthead {
    /*Background Image*/
    /*background-image: url('http://i.imgur.com/PYoHFEU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    border-top: solid 24px #FFCF33;*/
    padding: 6em 0;
}
.masthead-intro {
    color: #ff6600;
    /*Typography Declaration*/
    font-family: "Gentium Book Basic", Georgia, serif;
    font-size: 2em;
    margin-bottom: 0.1em;
    text-align: center;
    text-shadow: 2px 2px 2px red;
}
.masthead-heading{
    /*Round Border*/
    -webkit-border-radius: 50px 15px;
    -moz-border-radius: 50px 15px;
    border-radius: 50px 15px;
    background-color: #ffffcc;
    border: 5px solid #FFCF33;
    color: #996600;
    /*Typography Declaration*/
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 6em;
    font-style: italic;
    font-weight: bold;
    letter-spacing: -0.02em;
    max-width: 4em;
    margin-top: -0.05em;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 5px 5px 1px #000, 3px 3px 5px black;
}
.introduction-section,
.location-section,
.questions-section {
    background-color: white;
    box-shadow: inset 0 0 10px #000000;
    /*Round Border*/
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    border: 12px solid #FFCF33;
    font-size: 110%;
    /*Layout*/
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding: 1em;
    text-align: justify;
}
section > h1 {
    font-size: 150%;
}
section > p {
    margin-top: 2em;
}
.questions-section > h2 {
    color: #A6790E;
    font-size: 1.2em;
    font-weight: bold;
    /*Layout*/
    margin: 2em 0 1em 0;
}
.content-footer {
    /*background-image: url('http://i.imgur.com/PYoHFEU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    border-bottom: solid 24px #FFCF33;*/
    color: #FFCF33;
    font-weight: 300;
    letter-spacing: 0.05em;
    text-align: center;
}
.social > li {
    -webkit-border-radius; 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #73AD21;
    display: inline-block;
    /*List Width Height and Margin*/
    width: 150px;
    height: 20px;
    margin: 10px;
}
a.favorite-music {
  color: blue;
}
a.link-list {
    color: #FFCF33;
}
a.link-coverImage {
    color: white;
}
a:visited {
  color: purple;
}
a:hover {
  color: white;
}
a.favorite-music:hover {
  color: red;
}